.header{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            background-color: rgb(3, 3, 3);
            color:white;
        }
 .middle{
            background-color: purple;
            color: white;
        }
.footer{
            background-color: orange;
            color:white;
        }
.container{
    margin: 0px;
}
*{
    margin:0px;
}
.menu{
    display: flex; 
}
.menu li{
    list-style: none;
    margin: 5px
}
.menu li a{
    text-decoration: none;
    color: white;
}
.box{
    margin: 10px;
    padding: 10px;
    background-color: yellow;
    border: 1px solid black;
}
.imagec{
    display: block;
    margin: 0 auto;
}